@media screen and (max-width: 768px){
  .search-results .result {
    width: 45%;
  }
}

@media screen and (max-width: 480px){
  .search-results .result {
    width: 100%;
  }
  form{
    flex-direction: column;
  }
  input{
    width: 100%;
  }
}