/*  @format: Prettier
==============================================================
#Responsive styles
==============================================================
*/
.hamburger {
   display: none;
}
.bar {
   display: block;
   width: 2rem;
   height: 0.2rem;
   margin: 0.3rem auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #edbe00;
}
.nav-mobile {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 1.5rem;
}
.head-block {
   display: inline-block;
}

/* 
==============================================================
#Media queries
==============================================================
*/
@media screen and (max-width: 1024px) {
   /* GLOBAL STYLES */
   header {
      background: url(Images/back.png);
      z-index: 1;
      background-size: cover;
      margin: 0;
      width: 100%;
   }
   .nav-mobile {
      display: flex;
      flex-direction: row;
      z-index: 1;
      margin-left: 12rem;
   }
   .menu {
      width: 12rem !important;
      background-color: #3f314b;
   }
   .menu nav {
      top: 1.2rem;
   }
   .nav-list a {
      background-color: #3f314b;
      padding: 0.5rem 0;
      font-size: 1.1rem;
   }
   .contents {
      margin-left: 12rem;
   }
   footer {
      align-items: center;
      margin-top: 0;
      padding-top: 0;
   }
   footer p {
      font-size: 0.75rem;
      display: inline-block;
      justify-content: center;
      padding: 1rem;
      margin-left: 14rem;
   }
   .contents-footer {
      align-items: center;
      margin-top: 0;
      padding-top: 0;
   }
   .contents-footer p {
      font-size: 0.75rem;
      display: inline-block;
      justify-content: center;
      padding: 1rem;
      margin-left: 12rem;
   }

   /* HOME PAGE */
   .left-flex,
   .gif video,
   .publications {
      margin-left: 13rem;
   }
   .right-flex-intro {
      padding-top: 1rem;
   }
   .gif video,
   .right-flex-intro,
   .left-flex,
   .right-flex,
   .publications {
      margin-right: 0rem;
   }

   /* CAREER */

   /* PUBLICATIONS */
   .articles p {
      text-align: justify;
      margin: 0.5rem;
   }
   .aside-art {
      margin-top: 0.5rem;
      padding: 0.25rem;
   }

   /* EDUCATION */
   .slideInformal img {
      cursor: default;
      transition: 0s scale;
   }
   .slideInformal img:hover {
      scale: 1;
   }
   map {
      display: none;
   }

   /* SKILLS */

   /* ABOUT */
   .profile-section {
      margin: 2rem 1rem;
   }
   .left-flex-about {
      display: flex;
      flex-direction: column;
      width: 50%;
      float: left;
      text-align: left;
   }
   /* Contact form */
   .fcf-body-index {
      display: block;
      width: 70%;
      margin: 1rem;
      margin-left: 14rem;
      margin-right: auto;
   }
   .fcf-body {
      margin: 1rem 0;
   }
}

/* ============================================================== */
@media screen and (max-width: 903px) {
   /* EDUCATION */
   .education-flex h2 {
      font-size: 1.25rem;
   }
   .top-awards-flex,
   .bottom-awards-flex {
      font-size: 1.25rem;
      width: 100%;
   }
}
/* ============================================================== */
@media screen and (max-width: 768px) {
   /* GLOBAL STYLES */
   body {
      overflow-x: auto;
      overflow-y: auto;
   }
   header h1 {
      font: 400 2rem "Tenor Sans", sans-serif;
      color: #edbe00;
      text-align: center;
   }
   h2 {
      font-size: 1.25rem;
   }
   h3,
   h4,
   p,
   li {
      font-size: 1.1rem;
   }
   .contents {
      margin-left: 1rem;
   }
   .menu {
      background: none;
      height: 0;
      right: -100%;
   }
   .nav-mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 1;
      margin: 0;
   }
   .logo {
      margin: 0;
      padding: 0;
      width: 0%;
   }
   .logo img {
      display: none;
      padding: 0;
   }
   .nav-list {
      position: fixed;
      right: -100%;
      top: 4.5rem;
      flex-direction: column;
      background-color: #3f314b;
      width: 50%;
      border-radius: 5%;
      transition: 0.5s;
   }
   .nav-list.active {
      right: 0;
   }
   .nav-list li {
      margin: 1rem 1rem;
      font-size: 2rem;
   }
   .nav-list li a:hover {
      color: #edbe00;
   }
   .hamburger {
      background: url(back.png);
      background-size: cover;
      display: block;
      cursor: pointer;
   }
   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }
   .hamburger.active .bar:nth-child(1) {
      transform: translateY(0.5rem) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-0.5rem) rotate(-45deg);
   }
   footer p {
      margin-left: auto;
   }
   .contents-footer p {
      margin-left: auto;
   }

   /* HOME PAGE */
   .right-flex-intro {
      padding-top: 1rem;
   }
   .gif video,
   .right-flex-intro,
   .left-flex,
   .right-flex,
   .publications {
      margin: 0.25rem 2rem;
   }
   .fcf-body-index {
      margin: 3rem auto 1rem;
   }

   /* === CAREER === */

   /* === PUBLICATIONS === */
   .aside-art {
      display: none;
   }
   .articles p {
      text-align: justify;
      margin: 0.5rem 0;
   }

   /* === EDUCATION === */

   /* === SKILLS === */

   /* === ABOUT === */
   .left-flex-about {
      display: flex;
      flex-direction: column;
      width: 50%;
      float: left;
      text-align: left;
   }
   .info p {
      margin-left: 1rem;
   }

   /* Contact form */
   .fcf-body {
      margin: 1rem 1rem;
   }
}

/* ============================================================== */
@media screen and (max-width: 622px) {
   /* === GLOBAL CONTENTS ===*/
   h2 {
      font-size: 1.2rem;
   }
   h3 {
      font-size: 1.1rem;
   }
   p {
      font-size: 1.1rem;
   }
   .menu {
      background: none;
      height: 0;
   }
   .nav-list {
      position: fixed;
      right: -100%;
      top: 4.5rem;
      flex-direction: column;
      background-color: #3f314b;
      width: 60%;
      border-radius: 5%;
      transition: 0.5s;
   }

   /* === HOME PAGE === */
   .head-block {
      margin: 0;
   }
   .ctu-button {
      font-size: 1rem;
      margin-left: 0rem;
      margin-right: 0;
      padding: 0 0 1rem 0;
   }
   .gif video {
      margin: 0 0 0 0.5rem;
      width: 35%;
   }
   .intro a {
      display: inline-block;
      margin-top: 0rem;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0;
   }
   .intro p,
   .intro h2 {
      padding: 0;
      margin: 0 0 1rem 0;
   }
   .left-flex-intro {
      width: 30%;
   }
   .right-flex-intro {
      width: 70%;
   }
   .left-flex {
      display: block;
      width: 100%;
      margin: 0 0 0 0.5rem;
   }
   .right-flex {
      padding: 0;
      width: 0;
      height: 0;
   }
   .right-flex img {
      padding: 0;
      width: 0;
   }

   /* === CAREER === */

   /* === PUBLICATIONS === */
   .articles h2 {
      margin: 0.9rem 0;
      text-transform: none;
      font-size: 1.15rem;
      font-weight: 550;
   }
   .articles p {
      text-align: justify;
      margin: 0.5rem 0;
   }

   /* === EDUCATION === */
   .education-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }
   .education-flex h2 {
      font-size: 1.25rem;
      margin-top: 2rem;
   }
   .slider {
      height: 20rem;
      width: 20rem;
   }
   .awards p {
      text-transform: none;
      text-align: left;
      margin-bottom: 0.5rem;
   }
   .awards-flex {
      width: 100%;
      margin: auto;
   }
   .top-awards-flex,
   .bottom-awards-flex {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      width: 60%;
      margin-bottom: 0rem;
      margin: AUTO;
   }

   /* === SKILLS === */
   .skill-info h3,
   .skill-info p {
      font-size: 1rem;
   }
   .progress-bar {
      width: 9rem;
      height: 1rem;
      border-radius: 1rem;
      border: 1px solid #89709b;
      margin: 0.5rem;
   }

   /* === ABOUT === */
   .profile-section {
      margin: 2rem 0rem;
   }

   /* Info */
   .section-about {
      display: flex;
      flex-direction: row;
   }
   .left-flex-about {
      display: flex;
      flex-direction: column;
      width: 50%;
      float: left;
      text-align: left;
      margin: 1rem;
   }
   .info p {
      display: inline-block;
      text-align: left;
      align-items: center;
      padding: 0.5rem 0;
      margin: 0.5rem 0;
   }

   /* Contact form */
   .fcf-body {
      font-size: 1.15rem;
      text-align: left;
      width: 75%;
      padding: 0.5rem;
      padding-bottom: 0.75px;
      margin: 0 0 0 0.85rem;
   }
   .fcf-btn-lg,
   .fcf-btn-group-lg > .fcf-btn {
      font-size: 1.15rem;
      line-height: 1.5;
      border-radius: 0.3rem;
      padding: 0.5rem 0.5rem;
   }
   .fcf-body {
      margin: 1rem auto;
   }
   .icons-flex .fa-2x {
      font-size: 120%;
   }
}

/* ============================================================== */
@media screen and (max-width: 518px) {
   /* === CAREER === */
   .label h1 {
      font-size: 1.5rem;
   }
   .label h4 {
      font-size: 1.1rem;
   }

   /* === EDUCATION === */
   .slider {
      height: 18rem;
      width: 18rem;
   }
   /* Awards */
   .top-awards-flex,
   .bottom-awards-flex {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      width: 100%;
      margin-bottom: 0rem;
      margin: AUTO;
   }
   .top-awards-flex p,
   .bottom-awards-flex p {
      padding-left: 2rem;
   }
   .awards-info hr {
      margin: 0.5rem 2rem;
   }

   /* === SKILLS === */
   .skills-flex .section-flex {
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0rem 1rem;
   }
   .progress-bar {
      width: 12rem;
      height: 1rem;
      border-radius: 1rem;
      border: 1px solid #89709b;
      margin: 0.5rem;
   }
   .skills hr {
      width: auto;
      margin: 1rem 2rem;
   }
   .knowledge {
      flex-direction: column;
      width: 50%;
      margin: 0.25rem auto 1.5rem;
   }
   .knowledge h2 {
      margin-top: 1rem;
   }
   .languages {
      margin-bottom: 1.5rem;
   }
   .languages p {
      text-align: left;
      margin: 0.5rem 2.5rem 0 2rem;
   }

   /* === ABOUT === */
   /* Info */
   .section-about {
      display: flex;
      flex-direction: column;
   }
   .left-flex-about {
      display: flexbox;
      flex-direction: column;
      width: 75%;
      text-align: left;
      margin: 0 auto;
   }
   .info p {
      font-size: 1.2rem;
      display: inline-block;
      text-align: left;
      align-items: center;
      padding: 0.5rem;
      border: none;
      margin: 0;
   }
   .info-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start spa;
      margin-left: 0.5rem;
   }
   .info-links p {
      font-size: 1.2rem;
      margin: 0.5rem 0.75rem 0.5rem 0;
      padding: 0 0.5rem;
      border-bottom: none;
      transition: 0.4s color ease-in-out;
   }
   .icons h2 {
      margin: 1rem;
   }
   .icons-flex {
      font-size: 130%;
      width: 100%;
      justify-content: space-evenly;
   }
}

/* ============================================================== */
@media (prefers-reduced-motion: reduce) {
   /* === ABOUT === Contact form */
   .fcf-btn {
      transition: none;
   }
}

/* ============================================================== */
@media screen and (min-height: 913px) {
   /* === ABOUT === */
   .contents-footer {
      display: none;
   }
}

/* ============================================================== */
@media screen and (max-height: 394px) {
   /* === GLOBAL CONTENTS === */
   .nav-list a {
      display: block;
      padding: 0.5rem 0;
      text-align: left;
      outline: none;
      margin: 0 1.5rem;
   }
}